<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrk.common.modules.product.dao.TbUserRedpackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rrk.common.modules.product.entity.TbUserRedpack">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="red_pack_id" property="redPackId" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, red_pack_id, amount, create_time, version
    </sql>

</mapper>
