<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrk.common.modules.user.dao.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rrk.common.modules.user.entity.TbUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="source_uid" property="sourceUid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="create_time" property="createTime" />
        <result column="enabled" property="enabled" />
        <result column="user_rank" property="userRank" />
        <result column="source_type" property="sourceType" />
        <result column="phone" property="phone" />
        <result column="source_code" property="sourceCode" />
        <result column="email" property="email" />
        <result column="update_time" property="updateTime" />
        <result column="nick_name" property="nickName" />
        <result column="user_src" property="userSrc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,user_id, source_uid,username, password, create_time,  enabled, user_rank,source_type,phone,  update_time, source_code,nick_name, user_src
    </sql>

    <!--根据用户名称获取所有的权限-->
    <select id="getMenuByUserName" resultType="com.rrk.common.modules.user.dto.UserMenuDto">
        SELECT url AS menuUrl ,menu_sign AS menuSign
        FROM tb_user u
        LEFT JOIN tb_user_role userRole ON u.user_id = userRole.user_id
        LEFT JOIN tb_role_menu roleMenu ON userRole.role_id = roleMenu.role_id
        LEFT JOIN tb_menu m ON roleMenu.menu_id = m.id
        WHERE u.username = #{username}
    </select>
    <select id="selectByUserId" resultType="com.rrk.common.modules.user.entity.TbUser">
        select <include refid="Base_Column_List"/> from tb_user where id = #{id}
    </select>

</mapper>
