<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrk.common.modules.order.dao.OrderSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rrk.common.modules.order.entity.OrderSku">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="sku_id" property="skuId" />
        <result column="sku_image" property="skuImage" />
        <result column="sku_name" property="skuName" />
        <result column="sku_desc" property="skuDesc" />
        <result column="sku_num" property="skuNum" />
        <result column="spu_name" property="skuName" />
        <result column="product_brand" property="productBrand" />
        <result column="product_category" property="productCategory" />
        <result column="price" property="price" />
        <result column="beat_price" property="beatPrice" />
        <result column="sale_price" property="salePrice" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, sku_id, sku_image, sku_name, sku_desc, sku_num,spu_name, product_brand,product_category,price, beat_price, sale_price, create_time, update_time
    </sql>

</mapper>
