<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrk.common.modules.order.dao.TbGeneralOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rrk.common.modules.order.entity.TbGeneralOrder">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="product_url" property="productUrl" />
        <result column="product_name" property="productName" />
        <result column="user_name" property="userName" />
        <result column="buy_num" property="buyNum" />
        <result column="order_status" property="orderStatus" />
        <result column="order_amount" property="orderAmount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, user_id, product_id, product_url, product_name, user_name, buy_num, order_status, order_amount, create_time, update_time
    </sql>

</mapper>
